.rojo{
    background-color: red;
}

.verde{
    background-color: green;
}

.amarillo{
    background-color: yellow;
}

.negro{
    background-color: black;
}

.blanco{
    background-color: white;
}

.azul{
    background-color: blue;
    /*background-image: url(agregados/pera.jpg);*/
}

body, html{
    height: 60%;
}

.columna-juego{
    border: 2px solid black;
}

.fila-juego{
    height: 25vh;
}

.cuadro{
    opacity: 0;
    transition: opacity ease 0.2s;
    border: 1px solid black;
    cursor: pointer;
}

.completo{
    background-color: darkgray;
}

#fin-juego{
    display: none;
}